<!DOCTYPE html>
<html>
    <head>
        <title>EJS Templating</title>
    </head>
    <body>
        <h1>EJS Templating</h1>
        <h3>Rendering EJS based on index file in default view.</h3>
        <p><%= description %></p>
        <script src="js/main.js"></script>
    </body>
</html>