extends ../../../views/jadeBase

block header
  include ../../../views/mixins
  +page-header('Jade Templating', 'extending the parent Jade file','/images/littoral.jpg')

block pageContent
  .container-fluid
    .row
      .col-sm-12
        p= description
    hr
  .container
    .row
      .col-sm-2
      .col-sm-8
        h1 You can easily maintain one theme for all of your projects.
        p Using Jade or Handlebars for templating you can extend the base template file
         |that is located in the parent views directory.

        p just add
         code "extends ../../../views/jadeBase"
         | at the top of a projects view file inside of its view directory.

        h4 You can also create and include mixins, I'm using one here for the page header.

        p Just add
          code "include ../../../views/mixins"
          | at the top of the file (../../ path is relative to the main view directory)


block scripts
  script(src='js/main.js')
