<!DOCTYPE html>
<html>
    <head>
        <title>Handlebars Templating</title>
    </head>
    <body>
        <h1>Handlebars Templating</h1>
        <h3>Rendering Handlebars based on index file in default view.</h3>
        <p>{{ description }}</p>
        <script src="js/main.js"></script>
    </body>
</html>