<!DOCTYPE html>
<html>
    <head>
        <title>Handlebars Templating</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">
        <link rel="stylesheet" href="hbs/css/main.css">
    </head>
    <body>
        <a href="/">Home</a>
        <div class="row">
            <div class="small-12">
                <h1>Handlebars Templating</h1>
            </div>
        </div>
        <div class="row">
            <div class="small-12">
                <h3>Rendering Handlebars based on index file in default view.</h3>
                <p>{{ description }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="small-12">
                <h1>Foundation CSS</h1>
                <img src="http://foundation.zurb.com/assets/img/homepage/hero-image.svg", width="40%">
            </div>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>