body {
    background-color: #fff;
    padding-bottom: 70px;
}
.arrange {
    position: relative;
    /*background-color: #4f4082; */
    /*padding-right: 1em;*/
    /*padding-bottom: 1em*/
}
.demo {
    padding: .5em;
}
.demo .demoHolder {
    box-shadow: 1px 1px 6px 1px rgba(100,100,100,0.9);
    background-color: #fff;
    padding: 1em;
}

.demo .info {
    padding: 1em;
    background-color: rgba(220,220,220,0.5);
    box-shadow: inset 0px 0px 5px 0px rgba(100,100,100,0.9);
    border-radius: .5em;
    /*border: 1px inset rgba(150, 150, 150, 0.9);*/
}
.demo .info .thumbnail {
    background: none;
}
.half{
    width: 50%;
}
.demo .thumbnail {
    margin-bottom: 0px;
}

.jumbotron {
    margin-bottom: 5px;
    padding-bottom: 5em;
    background-color: #553f6e;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    color: #E2DAE8;
}

.page-header {
    margin: 0 0 1em;
    padding: 1em 0 1.5em;
    background-color: #553f6e;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

.footer {
    background-color: #4F4082;
    color: #E2DAE8
}
.navbar-brand {
    height: 50px;
    padding: 5px;
}