extends ./base
include mixins

block header
  +jumbotron(site.name, site.description, '/images/littoral.jpg')

block pageContent
    .container-fluid
      .row
        .col-lg-12
          h3 #{apps.length} Loaded demos:
          .arrange
            .demo
              .info
                h1 Littoral is a platform,
                p.lead For hosting all of the cool little projects you create
                 | in a modular and self-contained enviornment.

                p It allows you to store all of your front end demo projects in one place
                  | easily managed with a git repo.
                p You can control the styling, either choosing to extend the base jade or handlebar
                  | template or by loading up all custom resources in each sub application.
            .demo
              .info
                h1 Installation
                p.lead By default Littoral loads with this content and styling, but it is simple to add your own.
                ul.list-unstyled
                  li: code $ npm install -g littoral
                  li: code $ git clone https://github.com/PaperElectron/littoral-boilerplate.git ~/.littoral
                  li: code $ littoral
                p You should now have a server running on localhost:8080, with a couple of corny demo apps available
                 | as examples.
            each app, index in apps
              if index % 2 === 0
                +demoBox(app.name, app.description, app.basePath, app.teaserImage)
            .demo
              .info
                a.thumbnail(href="https://www.docker.com/")
                  img(src='https://d3oypxn00j2a10.cloudfront.net/0.15.4/images/pages/brand_guidelines/small_v.png')
                h1 Docker
                p.lead Makes it easy to host
                p Managing your data is as simple as git itself.
                p Store your demo sites as separate directories in a git repo,
                p Then link it as a volume with docker.
            .demo
              .info
                a.thumbnail(href='http://blog.paperelectron.com/building-a-maintainable-demo-site/')
                  img(src="https://s.gravatar.com/avatar/8641033280dec2ed4189002978504fa6?s=120")
                a(href='http://blog.paperelectron.com/building-a-maintainable-demo-site/')
                  h3 Read more.


            .demo
              .info
                h3 Easily Configurable.
                p Littoral gives you the tools to host your demos,
                 | and then gets out of the way.
            each app, index in apps
              if index % 2 === 1
                +demoBox(app.name, app.description, app.basePath, app.teaserImage)

            .demo
              .info
                h1 3 Template Languages
                p Automatically detects and renders
                p Jade, Handlebars and EJS
                p Also detects plain HTML if that is
                p your thing.


block scripts
  script(src="js/main.js")


