doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')

  body
    block header

    block pageContent

    nav.navbar.navbar-default.navbar-fixed-bottom
      .container-fluid
        .navbar-header
          a.navbar-brand(href="http://blog.paperelectron.com")
            img(src="https://s.gravatar.com/avatar/8641033280dec2ed4189002978504fa6?s=40")
        ul.nav.navbar-nav.navbar-left
          li: a(href="http://blog.paperelectron.com") Blog
          li: a(href="https://registry.hub.docker.com/u/paperelectron/littoral-docker/") Docker Repo
          li: a(href="https://github.com/PaperElectron/littoral") Github Repo

    a(href='https://github.com/PaperElectron/littoral')
      img(style='position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;', src='http://aral.github.com/fork-me-on-github-retina-ribbons/right-graphite@2x.png', alt='Fork me on GitHub')

    block scripts