<!DOCTYPE html>
<html>
    <head>
        <title>EJS Templating</title>
        <link rel="stylesheet" href="ejs/css/main.css">
    </head>
    <body>
        <h1>EJS Templating</h1>
        <h3>Rendering EJS based on index file in default view.</h3>
        <p><%= description %></p>
        <hr>
        <h3>Local stylesheet</h3>
        <script src="js/main.js"></script>
    </body>
</html>