body {
    background-color: #FCF7FF;
    padding-bottom: 70px;
}
.arrange {
    position: relative;
    /*background-color: #4f4082; */
    /*padding-right: 1em;*/
    /*padding-bottom: 1em*/
}
.sizer {width: 33%}
.gutter-size {width: 1em}
.demo {
    padding: .5em;
}
.demo .demoHolder {
    box-shadow: 1px 1px 6px 1px rgba(79,64,130,0.9);
    background-color: #fff;
    padding: 1em;
}

.demo .info {
    padding: 1em;
    border: 2px inset rgba(79,64,130,0.3);
}
.demo .info .thumbnail {
    background: none;
}
.demo .thumbnail {
    margin-bottom: 0px;
}

.jumbotron {
    margin-bottom: 5px;
    /*background-image: url(/images/littoral.jpg);*/
    background-size: 100%;
    color: #E2DAE8;
}

.page-header {
    margin: 0 0 1em;
    padding: 1em 0 1.5em;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.footer {
    background-color: #4F4082;
    color: #E2DAE8
}
.navbar-brand {
    height: 50px;
    padding: 5px;
}